.ProgressChart{
    margin: 0 auto;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.ProgressChartTitle{
    padding-left: 11rem;
    padding-top: 5rem;
    margin-left: 2rem;
    width: 31rem;
    height: 19rem!important;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
    color: white;
    cursor: pointer;
}

.ProgressChartTitle:hover{
    box-shadow: none !important;
}


.ProgressChartBar{
    width: 8rem !important;
    overflow: visible;
}

.ProgressChartBar-path{
    stroke: white!important;
    stroke-width: 12px !important;
}

.ProgressChartBar-trail{
    display: none !important;
}

.ProgressChartBar-text{
    fill: white !important;
}

.radialBar>span{
    font-size: 17px;
    font-weight: bold;
}
