.bar-chart {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 11rem; 
    width: 22rem;
    background-color: #313131;
    border-radius: 20px;
  }
  
  .bar {
    margin-bottom: 0.5rem;
    border-radius: 2px;
    width: 40px;
    background-image: linear-gradient(#d87634,#d89f34 ,#EDAA5C);
    text-align: center;
    color: white;
  }
  