.Analytics-div{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.Cards{
    flex-direction: row;
    gap: 2rem;
    display: flex;
}

.Analytics-Cards{
    flex-direction: column;
    display: flex;
}
.Analytics-Charts{
    flex-direction: row;
    display: flex;
    margin: 2rem;
}

.Analytics-LineChart{
    margin-left: 2rem;
    padding: 1rem;
    background-color: #4d4c4c;
    width: 31.2rem;
    height: 20rem;
    border-radius: 1rem;
}