.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: hsl(240, 7%, 12%);
  }
  
  .diagonal-square {
    position: fixed;
    width: 150vw;
    height: 150vh;
    background-color: hsl(0, 0%, 100%); 
    background-image: linear-gradient(hwb(29 27% 16%),#d8913f,hsl(29, 62%, 47%));
    box-shadow: 0 4px 25px rgba(18, 17, 24, 0.685); 
    transform: rotate(-45deg) translateX(-55%) translateY(-70%);
  }
  
  .diagonal-square_2 {
    position: fixed;
    width: 150vw; 
    height: 150vh;
    background-color: hsl(0, 0%, 100%); 
    background-image: linear-gradient(hsl(240, 12%, 8%),rgb(49, 49, 70),hsl(240, 12%, 8%));
    box-shadow: 0 4px 16px #121118cb; 
    transform: rotate(-45deg) translateX(-58%) translateY(-90%);
  }

  .logo{
    position: fixed;
    z-index: 1;
    top: auto;    
    top: 0;
    left: 50%;
    transform: translateX(-180%) translateY(80%);
    width: 30rem; 
    height: 20rem;
}

.line {
    z-index: 2;
    width: 20%;
    transform: translateX(-38rem) translateY(33rem); 
    height: 2px; 
    background: linear-gradient(hwb(17 15% 34%),hsl(41, 95%, 62%)); 
    margin: 10px auto; 
  }
  

.navigate-button {
    width: 13rem;
    height: 4rem;
    position: fixed;
    padding: 0.5rem 1rem;
    z-index: 1;
    font-size: 2rem;
    border-radius: 4px;
    border: 2px solid black; 
    background: linear-gradient(hsl(24, 71%, 46%), #D68B45);
    color: #eff0e8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.274); 
    transform: translateX(700%) translateY(-300%);
    cursor: pointer;
  }

.navigate-button:hover
 {
  background: linear-gradient(hsl(24, 71%, 46%), hwb(41 26% 16%));
  box-shadow: 0 4px 8px hsla(32, 93%, 62%, 0.769); 
}
