.Expo-item {
    background-color: #1d1a16;
    width: 18rem;
    height: 24rem;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    position: relative; 
}

.Expo-item article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Expo-item img {
    width: 18rem;
    height: 13rem;
}

.Expo-item h3 {
    color: antiquewhite;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.75rem 0;
}

.Expo-item-description {
    margin: 1rem;
}

.Expo-item-Date {
    display: inline-block;
    background-color: #312c1d;
    color: #facd3b;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    margin: 0;
    border-radius: 4px;
}

.Expo-item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-left: 1rem;
    gap: 2rem; 
}

.Expo-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-right: 1rem;
    gap: 2rem; 

}

.Expo-item-icons {
    display: flex;
    margin-left: 0.7rem;
    flex-direction: row;
}

.Expo-item-actions {
    margin-left: auto;
}

.Expo-item-icons img {
    width: 20px;
    height: 20px;
}

.Expo-item-info{
    color: aliceblue;
    font-size: 12px;
    margin-left: 0.4rem;
    margin-right: 0.7rem;
}


.Expo-item-edit{
    color: rgb(37, 122, 141);
    background-color: rgba(240, 255, 255, 0.274);
    border-radius: 10px;
    
}


.tools{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}